body{
	margin:0;
	padding: 0;
	font: 20px/24px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img{
	width: 100%;
	display: block;
}
#ht-container{
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
#ht-container .text-center{ text-align: center; }
#ht-testimonail-sec {
	overflow: hidden;
	padding: 100px 0;
}
#ht-testimonail-slider{ overflow: hidden; }
#ht-testimonail-slider .slide{
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	border: none;
	margin: 55px 0 0;
	padding: 80px 120px 50px;
}
#ht-testimonail-slider .slide .img-holder{
	width: 100px;
	border: 5px solid #fff;
	border-radius: 100%;
	overflow: hidden;
	margin: -129px auto 30px;
}
#ht-testimonail-slider .slide .title,
#ht-testimonail-slider .slide .sub-title{
	display: block;
	font: bold 19px/22px 'arial' sans-serif;
}
#ht-testimonail-slider .slide .title{ font-style: normal; }
#ht-testimonail-slider .slide .sub-title{
	font-weight: 300;
	margin: 0 0 30px;
}
#ht-testimonail-slider.ht-slider4 .slide .title{
	font-size: 24px;
	line-height: 27px;
	margin: 0 0 10px;
}
#ht-testimonail-slider.ht-slider4 .slide .sub-title{
	font-size: 16px;
	line-height: 19px;
}
#ht-testimonail-slider .slide q{ display: block; }
#ht-testimonail-slider .slide q:before,
#ht-testimonail-slider .slide q:after{display: none;}
#ht-testimonail-slider .slick-dots {
  margin: 0;
  list-style: none;
  padding: 35px 0 12px;
  text-align: center;
}
#ht-testimonail-slider .slick-dots li {
  width: 17px;
  height: 17px;
  cursor: pointer;
  border-radius: 50%;
  margin: 3px 6px 0 8px;
  display: inline-block;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
}
#ht-testimonail-slider .slick-dots li:hover button,
#ht-testimonail-slider .slick-dots li.slick-active button { opacity: 1; }
#ht-testimonail-slider .slick-dots button {
  border: 0;
  padding: 0;
  width: 9px;
  opacity: 0;
  height: 9px;
  margin: 3px 0 0;
  text-align: left;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: top;
  text-indent: -9999px;
  display: inline-block;
  transition: all 0.2s ease 0s;
}
#ht-testimonail-sec .ht-style6{
	background-size: cover;
	background-position: 50% 50%;
	min-height: 560px;
	padding: 120px 0;
}
#ht-testimonail-slider.ht-slider2{ padding: 0 40px; }
#ht-testimonail-slider.ht-slider2 .slide{
	font-size: 15px;
	line-height: 24px;
	color: #fff;
	background: none;
	margin: 0;
	padding: 0 150px;
}
#ht-testimonail-slider.ht-slider2 .slide .img-holder{
	margin: 0 auto 50px;
	border: none;
}
#ht-testimonail-slider.ht-slider2 .slide q{ margin: 0 0 20px; }
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  text-indent: -9999px;
  border: none;
  width: 50px;
  height: 50px;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0 5px 5px 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.slick-prev:before,
.slick-next:before {
  position: absolute;
  left: 10px;
  top: 0;
  content: "\f104";
  font-family: 'FontAwesome';
  font-size: 45px;
  line-height: 50px;
  color: #fff;
  text-indent: 0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.slick-prev { left: 0; }
.slick-next {
  right: 0;
  border-radius: 5px 0 0 5px;
}
.slick-next:before { content: "\f105"; }
#ht-testimonail-slider.ht-slider3 .slide,
#ht-testimonail-slider.ht-slider6 .slide{
	font-size: 14px;
	line-height: 24px;
	padding: 44px 31px 46px;
	margin: 0 15px;
	outline: none;
	border: 1px solid #f4f4f4;
}
#ht-testimonail-slider.ht-slider6 .slide{ padding: 24px 20px; }
#ht-testimonail-slider.ht-slider3 .slide p{ margin: 0 0 30px; }
#ht-testimonail-slider.ht-slider6 .slide p{ margin: 0; }
#ht-testimonail-slider.ht-slider3 .slide .footer{ overflow: hidden; }
#ht-testimonail-slider.ht-slider6 .slide .footer{
	overflow: hidden;
	margin: 0 0 20px;
}
#ht-testimonail-slider.ht-slider3 .slide .footer .img-holder,
#ht-testimonail-slider.ht-slider6 .slide .footer .img-holder{
  width: 21.1%;
  margin: 0;
  border: none; 
  display: inline-block;
  vertical-align: middle;
}
#ht-testimonail-slider.ht-slider3 .slide .footer .txt-holder,
#ht-testimonail-slider.ht-slider6 .slide .footer .txt-holder{
  width: 71.3%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 19px;
}
#ht-testimonail-sliders.ht-slider3 .slide .name,
#ht-testimonail-sliders.ht-slider6 .slide .name{
  font-size: 14px;
  line-height: 16px;
  display: block;
  font-weight: 700;
  margin: 0 0 5px;
}
#ht-testimonail-slider.ht-slider3 .slide .desnation,
#ht-testimonail-slider.ht-slider6 .slide .desnation{
  font-size: 12px;
  line-height: 14px;
  display: block;
}
#ht-testimonail-slider.ht-slider4,
#ht-testimonail-slider.ht-slider5{ overflow: visible; }
#ht-testimonail-slider.ht-slider4:after,
#ht-testimonail-slider.ht-slider5:after{
	content: "";
	display: block;
	clear: both;
}
#ht-testimonail-slider.ht-slider4:before{
	position: absolute;
	content: "";
	left: 0;
	top: 55px;
	right: 0;
	bottom: 70px;
	z-index: -1;
	-webkit-box-shadow: -1px 2px 28px 16px rgba(247,247,247,1);
	-moz-box-shadow: -1px 2px 28px 16px rgba(247,247,247,1);
	box-shadow: -1px 2px 28px 16px rgba(247,247,247,1);
}
#ht-testimonail-slider.ht-slider4 .slide{
	background: none;
	position: relative;
	margin: 80px 0 0;
}
#ht-testimonail-slider.ht-slider4 .slide .img-holder{
	width: 150px;
	border-color: grey;
	margin: -160px auto 50px;
}
#ht-testimonail-slider.ht-slider4 .slide:before{
	position: absolute;
	content: "\f10d";
	font-family: "FontAwesome";
	font-size: 100px;
	line-height: 30px;
	color: #00c9fd;
	left: 90px;
	top: 90px;
	display: block;
	opacity: 0.1;
}
#ht-testimonail-slider.ht-slider5 .slide{
	font-size: 14px;
	line-height: 24px;
	padding: 44px 0 46px;
	margin: 0 15px;
	outline: none;
	background: none;
	border: none;
}
#ht-testimonail-slider.ht-slider5 .slide q{
	margin: 0 0 30px;
	padding: 25px 30px;
	position: relative;
	z-index: 1;
	display: block;
	-webkit-box-shadow: 0px 0px 19px 8px rgba(247,247,247,1);
	-moz-box-shadow: 0px 0px 19px 8px rgba(247,247,247,1);
	box-shadow: 0px 0px 19px 8px rgba(247,247,247,1);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
#ht-testimonail-slider.ht-slider5 .slide q:before{
	position: absolute;
	content: "\f10d";
	font-family: "FontAwesome";
	font-size: 20px;
	line-height: 30px;
	color: #e6e7ff;
	left: 15px;
	top: 15px;
	display: block;
	z-index: -1;
}
#ht-testimonail-slider.ht-slider5 .slide q:after{
	position: absolute;
	content: "";
	left: 20px;
	bottom: -16px;
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 16px 10px 0 10px;
	border-color: #fff transparent transparent transparent;
}
#ht-testimonail-slider.ht-slider5 .slide .footer{
	overflow: hidden;
	font-style: normal;
}
#ht-testimonail-slider.ht-slider5 .slide .footer .img-holder{
  width: 21.1%;
  margin: 0;
  border: none; 
  display: inline-block;
  vertical-align: middle;
}
#ht-testimonail-slider.ht-slider5 .slide .footer .txt-holder{
  width: 71.3%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 19px;
}
#ht-testimonail-sliders.ht-slider5 .slide .name{
  font-size: 14px;
  line-height: 16px;
  display: block;
  font-weight: 700;
  margin: 0 0 5px;
}
#ht-testimonail-slider.ht-slider5 .slide .desnation{
  font-size: 12px;
  line-height: 14px;
  display: block;
}
#ht-testimonail-slider.ht-slider5 .slick-dots li{
	border: none;
	padding: 0;
	width: 10px;
	height: 10px;
	background: grey;
}
#ht-testimonail-slider.ht-slider5 .slick-dots li button{ background: none; }
#ht-testimonail-slider.ht-slider5 .slick-dots li:hover,
#ht-testimonail-slider.ht-slider5 .slick-dots .slick-active{ background: #e6e7ff; }
#ht-testimonail-slider.ht-slider5 .slick-prev{ left: -60px; }
#ht-testimonail-slider.ht-slider5 .slick-next{ right: -60px; }
#ht-testimonail-slider.ht-slider5 .slick-prev:before,
#ht-testimonail-slider.ht-slider5 .slick-next:before{ color: #000; }

@media only screen and (max-width: 1199px){
	#ht-container{ max-width: 950px; }
	#ht-testimonail-slider.ht-slider3 .slide .footer .txt-holder,
	#ht-testimonail-slider.ht-slider6 .slide .footer .txt-holder{ width: 76.3%; }
}
@media only screen and (max-width: 1023px){
	#ht-container{ max-width: 750px; }
	#ht-testimonail-slider .slide{
		font-size: 15px;
		line-height: 25px;
		padding: 80px 60px 50px;
	}
	#ht-testimonail-slider.ht-slider2 .slide{ padding: 0 30px; }
}
@media only screen and (max-width: 767px){
	#ht-container{ max-width: 100%; }
	#ht-testimonail-sec{ padding: 60px 0; }
	#ht-testimonail-slider .slide{ padding: 80px 20px 30px; }
	#ht-testimonail-slider .slide .img-holder{ margin: -129px auto 20px; }
	#ht-testimonail-slider .slide .sub-title,
	#ht-testimonail-slider.ht-slider2 .slide .img-holder{ margin: 0 auto 30px; }
	#ht-testimonail-slider.ht-slider2{ padding: 0; }
	#ht-testimonail-slider.ht-slider2 .slide{ padding: 0 15px; }
	#ht-testimonail-slider.ht-slider3 .slide .footer .txt-holder,
	#ht-testimonail-slider.ht-slider6 .slide .footer .txt-holder{ width: 67.3%; }
	#ht-testimonail-slider.ht-slider4 .slide .img-holder{ width: 90px; }
	#ht-testimonail-slider.ht-slider4 .slide:before{ font-size: 50px; left: 20px; top: 40px; }
	#ht-testimonail-slider.ht-slider4 .slide .title{ font-size: 20px; line-height: 22px; }
	#ht-testimonail-slider.ht-slider5 .slide .footer .txt-holder{ width: 69.3%; }
}


/* Slider */
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{ outline: none; }
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{ clear: both; }
.slick-loading .slick-track{ visibility: hidden; }
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide{ float: right; }
.slick-slide img{ display: block; }
.slick-slide.slick-loading img{ display: none; }
.slick-slide.dragging img{ pointer-events: none; }
.slick-initialized .slick-slide{ display: block; }
.slick-loading .slick-slide{ visibility: hidden; }
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden { display: none; }