/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


 #mceu_13-open{
 	background: url('../review.png') no-repeat;
    background-size: contain;
 }

 .wp-input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}
 .wp-color{
height: 36px;
border-radius: 2px;
}
.subtesti{

    background-color: #929292E6 !important;
    color: white !important;
    padding: 13px 26px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    float: left !important;

}
.mce-ico.mce-i-testim {

    background-image: url("../images/visualicon.png");

}
#testibgimg{
    padding: 6px 12px;
    width: 30%;
    float: left;
}
#TB_window{ height: auto !important; }
#poststuff .inside{ overflow: hidden; }
#poststuff .inside .label-text{
    width: 15%;
    display: inline-block;
    vertical-align: middle;
}
#poststuff .inside .form-control{
    width: 85%;
    margin: 0 0 0 -4px;
    display: inline-block;
    vertical-align: middle;
}