#TB_window{ overflow: hidden; }
#TB_ajaxContent{
	width: 763px !important;
	padding: 22px 0 15px 15px !important;
}
#ht-holder{
	overflow: hidden;
	width: 100%;
	margin: 0 0 15px;
}
#ht-holder label{
	width: 70%;
	float: left;
	padding: 5px 0 0;
}
#ht-holder select,
#ht-holder input[type="number"],
#ht-holder input[type="file"]{
	padding: 2px 12px;
	height: 30px;
	width: 30%;
	float: left;
	margin: 0;
	background: #e1e1e1;
}
#ht-holder input[type="text"]{
	height: 40px;
	width: 100%;
	margin: 10px 0 0;
}
#ht-holder input[type="color"]{
	width: 30%;
	float: left;
	margin: 0;
	height: 50px;
}
#ht-holder .subtesti{
	float: left !important;
	font-size: 18px;
	padding: 10px 30px !important;
}