#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
a,
a:hover,
a:active,
a:focus{
  text-decoration: none;
}
.tabs-style1 .nav-tabs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #2f3542;
  margin: 0 0 -1px 24px;
  border-bottom-width: 0;
  overflow: hidden;
}
.tabs-style1 .nav-tabs li {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -4px 0 0;
}
.tabs-style1 .nav-tabs li.active { margin-bottom: 0; }
.tabs-style1 .nav-tabs li.active a {
  color: #fff;
  border-color: #c4c7cf;
  border-bottom-width: 0;
  background: #00d5c3;
  transition: all 0.25s linear;
}
.tabs-style1 .nav-tabs a {
  color: #2f3542;
  padding: 10px 26px 10px;
  border-radius: 0;
  margin: 0;
  border: 1px solid #c4c7cf;
  border-bottom-width: 0;
  background: #ced5e1;
  transition: all 0.25s linear;
}
.tabs-style1 .nav-tabs a:hover {
  color: #fff;
  border-color: #c4c7cf;
  background: #00d5c3;
}
.tabs-style1 .tab-content {
  padding: 47px 38px;
  overflow: hidden;
  border: 1px solid #c4c7cf;
  background: #e9ecf2;
}
#main .image-holder{overflow: hidden;}
#main .image-holder img{
  display: block;
  width: 100%;
}
#main .text-holder{
  padding: 20px 15px;
  color: #333333;
  overflow: hidden;
}
.tabs-style1 .txt-holder h2{
  font: 25px/28px 'Roboto', sans-serif;
  margin: 0 0 30px;
}
.tabs-style1 .txt-holder p{ margin: 0 0 20px; }